{% extends 'base.html.twig' %} {% block title %}Nouveau Client{% endblock %} {%
block body %}
<div class="container col-md-5">
  <h1>Ajout d'un nouveau Client</h1>

  {{ include("client/_form.html.twig") }}<br /><br />

  <a href="{{ path('client_index') }}" class="btn btn-violet"
    >Aller à la liste des clients</a
  >
</div>
{% endblock %}
